/* Code by: Corentin grosset */

/*CSS du index.html*/
.rectangle{
    width : 1440px;
    height: 810px;
    background-color: #00023C;
    
    position: absolute;
    
}
.Accueil{
    position: absolute;
    width : 1440px;
    height: 1194px;
}
h1{
    position: absolute;
    width : 534px;
    height: 108px;
    Left : 453px;
    top : 300px;
    color : #FFF;
    text-align : center;
    font-family: League Gothic;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.1em;
}
#slogan{
    position:absolute  ;
    width : 934px;
    height: 130px;
    Top: 442px;
    Left: 253px;
    color: #FFF;
    text-align: center;
    font-family: League Spartan;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 8.64px;
}
#t{
    position: absolute;
    width: 241px;
    height: 33.783px;
    Top:870px;
    Left: 440px;
    flex-shrink: 0;
    color: #000;
    font-family: League Spartan;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
#s{
    position: absolute;
    width: 560px;
    height: 197.07px;
    Top: 932.93px;
    Left: 440px;
    flex-shrink: 0;
    color: #000;
    text-align: justify;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#img1{
    position: absolute;
    width : 130px;
    height: 94.074px;
    Top: 54px;
    Left: 90px;
    flex-shrink: 0;
}
.connexion{
    position: absolute; 
    width : 200px;
    height : 40px;
    Left: 1138px;
    Top: 87px;
    color: #FFF;
    text-align: center;
    font-family: League Spartan;
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: 11.52px;  
    background-color: #000352;
    border: 2px solid #FFF; 
    border-radius: 5px;;
}
.inscription{
    position: absolute; 
    width : 220px;
    height : 40px;
    Left: 880px;
    Top: 87px;
    color: #FFF;
    text-align: center;
    font-family: League Spartan;
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: 11.52px;  
    background-color: #000352;
    border: 2px solid #FFF; 
    border-radius: 5px;;
}

/*CSS du connexion.html*/

#bvn1{
    width: 372px;
    height: 34px;
    Top: 274px;
    Left: 534px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: League Spartan;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.02em;
}
#email1{
    position: absolute;
    width: 493px;
    height: 30px;
    Top: 395px;
    Left: 469px;
    flex-shrink: 0;
    color: #000;
    font-family: League Spartan;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.02em;   
    border-radius: 8px;
    border: 1px solid #000;
    padding: 5px;
}
#password1{
    position: absolute;
    width: 493px;
    height: 30px;
    Top: 446px;
    Left: 469px;
    flex-shrink: 0;
    color: #000;
    font-family: League Spartan;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.02em;   
    border-radius: 8px;
    border: 1px solid #000;
    padding: 5px;
}
#boutonBleu1{
    position: absolute;
    width: 410px;
    height: 40px;
    Top : 524px;
    Left: 510px;;    
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: League Spartan;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    border-radius: 10px;
    border: 1px solid #000;
    background: #353BD1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    
}
#img2{
    position: absolute;
    width : 130px;
    height: 94.074px;
    Top: 78px;
    Left:645px;
    flex-shrink: 0;
}
#pdc{
    position: absolute;
    width: 153px;
    Height: 22px;
    Top: 554px;
    Left: 592px;
    color: #000;
    font-family: League Spartan;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}
#btnRed1{
    position: absolute;
    width: 125px;
    height: 22px;
    Top: 572px;
    Left: 717px;
    color: #C00000;
    font-family: League Spartan;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #FFF;
    border: none;
}
.home{
    position: absolute;
    width : 1440px;
    height: 42px;
    background-color: #00023C;  
    
}
#home{
    position: absolute;
    width : 40px;
    height: 40px;
    Top: 2px;
    Left: 1360px;
    background-color: #00023C;  

}
input[type="email"],
input[type="password"] {
    background-color: transparent;
    border: none;
    outline: none;
}


/*CSS du inscription.html*/

#bvn2{
    position: absolute;
    width: 372px;
    height: 34px;
    Top: 150px;
    Left: 534px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: League Spartan;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.02em;
}
#prenom{
    position: absolute;
    width: 493px;
    height: 30px;
    Top: 250px;
    Left: 469px;
    flex-shrink: 0;
    color: #000;
    font-family: League Spartan;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.02em;   
    border-radius: 8px;
    border: 1px solid #000;
    padding: 5px;
}
#nom{
    position: absolute;
    width: 493px;
    height: 30px;
    Top: 300px;
    Left: 469px;
    flex-shrink: 0;
    color: #000;
    font-family: League Spartan;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.02em;   
    border-radius: 8px;
    border: 1px solid #000;
    padding: 5px;
}

#date{
    position: absolute;
    width: 493px;
    height: 30px;
    Top: 350px;
    Left: 469px;
    flex-shrink: 0;
    color: grey;
    font-family: League Spartan;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.02em;   
    border-radius: 8px;
    border: 1px solid #000;
    padding: 5px;
}
#email2{
    position: absolute;
    width: 493px;
    height: 30px;
    Top: 450px;
    Left: 469px;
    flex-shrink: 0;
    color: #000;
    font-family: League Spartan;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.02em;   
    border-radius: 8px;
    border: 1px solid #000;
    padding: 5px;
}
#username{
    position: absolute;
    width: 493px;
    height: 30px;
    Top: 400px;
    Left: 469px;
    flex-shrink: 0;
    color: #000;
    font-family: League Spartan;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.02em;   
    border-radius: 8px;
    border: 1px solid #000;
    padding: 5px;
}
#password2{
    position: absolute;
    width: 493px;
    height: 30px;
    Top: 500px;
    Left: 469px;
    flex-shrink: 0;
    color: #000;
    font-family: League Spartan;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.02em;   
    border-radius: 8px;
    border: 1px solid #000;
    padding: 5px;
}
#confirmPassword{
    position: absolute;
    width: 493px;
    height: 30px;
    Top: 550px;
    Left: 469px;
    flex-shrink: 0;
    color: #000;
    font-family: League Spartan;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.02em;   
    border-radius: 8px;
    border: 1px solid #000;
    padding: 5px;
}
#boutonBleu2{
    position: absolute;
    width: 410px;
    height: 40px;
    Top : 630px;
    Left: 510px;;    
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: League Spartan;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    border-radius: 10px;
    border: 1px solid #000;
    background: #353BD1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#btnRed2{
    position: absolute;
    width: 135px;
    height: 22px;
    Top: 680px;
    Left: 720px;
    color: #C00000;
    font-family: League Spartan;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #FFF;
    border: none;
}
#dc{
    position: absolute;
    width: 153px;
    Height: 22px;
    Top: 661px;
    Left: 585px;
    color: #000;
    font-family: League Spartan;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}

/* Styles CSS */
body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.agenda {
    display: grid;
    grid-template-columns: 100px repeat(7, 1fr);
    grid-gap: 1px;
}

.heure {
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    text-align: center;
    padding: 10px;
}

.case {
    /* Ajoutez les styles pour améliorer l'apparence de la case */
    border: 1px solid #ccc;
    min-height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.evenement {
    /* Styles pour l'affichage de l'événement dans la case */
    background-color: #ffcc00; /* Couleur de fond attrayante */
    color: #000; /* Couleur du texte */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère */
    padding: 5px;
    text-align: left;
    width: 80%;
}